<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
<servers>
    <server>
        <username>maven</username>
        <password>maven</password>
        <id>mirror</id>
    </server>
</servers>
<mirrors>
    <mirror>
        <id>mirror</id>
        <url>http://10.10.1.233:8081/repository/maven-public</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
</mirrors>
</settings>
